body{
    margin: 0;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
}
header{
    text-align: center
}

form{
    margin: 50px auto;
    width: 60%;
}
  
.h1-title{
    font-size: 55px;
}
.img-overview p{
    font-size: 15px;
}
.img-overview img{
    float: left;
    margin-right: 30px;
    height: 150px;
}
video{
    margin-top: 20px;
    width: 100%;
    height: auto;
}
#nameauthor{
    color: gray;
    font-size:75%;
}
.dxc-main--solution{
    background: whitesmoke;
    margin: 50px 0px;
}
.small-item {
    text-align: center;
    margin: 20px 0px;
}
.small-item a{
    text-decoration: none;
    color: #62839C;
}
.small-item a:hover{
    text-decoration: underline #477E98;
    color: #477E98;
}
.small-item a:hover img{
    border: #477E98 solid 1px;
    border-radius: 8%;
    transition: 1s ease-in-out;
    transform: scale(1.1);
}
.small-item-img{
    border: white solid 1px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 35%;
    border-radius: 100%;
    background-color: #eeedf7;
}
.join-the-conversation{
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 20px;
}
.events{
    margin: 30px 0px;
}
.events h3{
    text-align: center;
}
.events button{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    background-color:rgb(190, 190, 190);
    padding-top: 10px;
}
.privacy{
    float: left;
}
.folow-us{
    float: right;
}
@media only screen and (max-width: 600px) {
    form{
        margin: 50px auto;
        width: 90%;
    }
    .privacy , .folow-us{
        text-align: center;
        float: none;
    }
}